.cabecalho{
    background-color: #07C4D9;
    display: flex;
    padding: 24px;
    justify-content: space-around;
}

.cabecalho-titulo{
    color: #F26457;
    font-size: 44px;
}

.cabecalho-lista{
    color: white;
}

.cabecalho-imagem{
    width: 400px;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
}