*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: #07C4D9;
    display: flex;
    padding: 24px;
    justify-content: space-around;
    align-items: center;
}

.cabecalho-titulo{
    color: #F26457;
    font-size: 44px;
}

.cabecalho-lista{
    color: white;
}

.cabecalho-imagem{
    width: 120px;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
}

.escola-imagem{
    width: 25%;
}

.escola{
    background-image: linear-gradient(#07C4D9, #03393F);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-conteudo{
    width: 35%;
}

.escola-titulo{
    padding: 24px 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.estudante-imagem{
    width: 120px;
}

.estudante-icone{
    width: 24px;
}

.estudante-div{
    text-align: center;
}

.estudante-titulo{
    text-align: center;
    padding: 50px 0;
}